html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: 'Roboto', sans-serif;
}
.section {
  position: relative;
  display: block;
  width: 100%;
  height: 1080px;
}
@media (max-width: 576px) {
  .section {
    height: auto;
  }
}
.header {
  position: relative;
  margin: 0;
  padding: 0;
  background-image: url('file:///Users/laurenramsay/Desktop/Discovery-site-build/images/header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 576px) {
  .header {
    height: 100vh;
  }
}
.header .logo-wrapper {
  position: absolute;
  top: 15px;
  left: 30px;
  z-index: 1000;
}
.header .logo-wrapper img {
  display: block;
  width: 140px;
}
.header .nav-wrapper {
  position: absolute;
  top: 15px;
  right: 30px;
  z-index: 1000;
}
.header .nav-wrapper #menu-btn {
  display: none;
}
@media (max-width: 768px) {
  .header .nav-wrapper #menu-btn {
    display: block;
    float: right;
  }
}
.header .nav-wrapper #menu-btn img {
  width: 35px;
}
.header .nav-wrapper #nav {
  position: relative;
  display: block;
}
@media (max-width: 768px) {
  .header .nav-wrapper #nav {
    float: right;
    display: none;
    margin-top: 35px;
    margin-right: -40px;
  }
}
.header .nav-wrapper #nav ul {
  margin: 0;
  padding: 0;
}
.header .nav-wrapper #nav ul li {
  display: inline-block;
  list-style: none;
  margin: 2px 5px;
  font-size: 14px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .header .nav-wrapper #nav ul li {
    display: block;
    float: right;
    clear: both;
  }
}
.header .nav-wrapper #nav ul li:hover {
  border-bottom: 1px solid #fff;
}
.header .nav-wrapper #nav ul li a {
  color: #fff;
  text-decoration: none;
}
.header .hero-text {
  color: #fff;
  font-size: 200px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
@media (max-width: 576px) {
  .header .hero-text {
    font-size: 65px;
  }
}
.header h4 {
  font-size: 38px;
  font-weight: 100;
  color: #fff;
  margin-bottom: 30px;
}
@media (max-width: 576px) {
  .header h4 {
    font-size: 30px;
  }
}
.header h4 span {
  color: #e96b6b;
}
.header p {
  font-weight: 100;
  color: #fff;
  font-size: 22px;
}
.header .social-wrapper {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px;
}
.header .social-wrapper img {
  display: block;
  width: 200px;
  margin: 0 auto;
}
.about-us {
  position: relative;
  background-image: url('file:///Users/laurenramsay/Desktop/Discovery-site-build/images/about-us-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.about-us .text-wrapper {
  text-align: left;
  padding-left: 30px;
}
@media (max-width: 576px) {
  .about-us .text-wrapper {
    padding: 15px 5px;
  }
}
.about-us .text-wrapper h5 {
  font-size: 35px;
  font-weight: 700;
}
.about-us .text-wrapper h1 {
  font-size: 130px;
  font-weight: 700;
}
@media (max-width: 576px) {
  .about-us .text-wrapper h1 {
    font-size: 70px;
  }
}
.about-us .text-wrapper p {
  font-size: 16px;
  font-weight: 300;
}
.about-us .img-wrapper img {
  width: 90%;
}
@media (max-width: 576px) {
  .about-us .img-wrapper img {
    width: 80%;
  }
}
.app {
  position: relative;
  background-image: url('file:///Users/laurenramsay/Desktop/Discovery-site-build/images/app-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.app .point {
  width: 230px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}
.app .point .img-wrapper {
  padding: 15px 0;
  height: 140px;
}
.app .point h3 {
  font-size: 20px;
}
.app .point p {
  font-weight: 100;
  font-size: 14px;
}
.app .mockup-wrapper {
  height: 100%;
}
.app .mockup-wrapper img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.table {
  width: 100%;
  height: 100%;
  display: table;
}
.cell {
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 5px;
}
.center {
  text-align: center;
}
.h-1080 {
  height: 1080px;
}
